<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKeGl6TXqmet0kVANPQgUvjIBmFHb3FEw</string>
	<key>GCM_SENDER_ID</key>
	<string>788899673990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.softdreams.easyDate</string>
	<key>PROJECT_ID</key>
	<string>easy-date-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-date-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788899673990:ios:51f43f9cc45e135bce1e07</string>
	<key>DATABASE_URL</key>
	<string>https://easy-date-dev-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>